@import url('https://fonts.bunny.net/css?family=press-start-2p:400');
@import "tailwindcss";

@theme {
  --color-sand-500: #ece5d2;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: large;
}

.font-press-start-2p {
  font-family: 'Press Start 2P', cursive;
}
