:root {
  --main-color: #ece5d2;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  max-width: 25em;
  margin: auto;
}

* {
  font-family: sans-serif;
  font-size: large;
}

button {
  background-color: var(--main-color);
  /* border: 2px solid blue; */
  border-radius: 3px;
}

.pad-l {
  padding: 0.33em 1em;
}

.fsize-s {
  font-size: small;
}

.fsize-m {
  font-size: medium;
}

.pad-s {
  padding: 0.33em 0.5em;
}

.marg {
  margin: 5px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
